---
import { Icon } from "astro-icon/components";
import type { ContactInfo } from "@backend/payload-types.ts";
import { formatPhone } from "../helpers/FormatPhone";
const response = await fetch(`${process.env.API_URL}/globals/contact_info`);
if (response.status !== 200) {
    throw new Error("Failed to fetch contact info.");
}
const contanctInfo: ContactInfo = await response.json();
("astro-icon/components");
const items = [
    [
        "phone-filled",
        formatPhone(contanctInfo.phone_numbers[0]!.phone_number),
        "phone number",
    ],
    ["clock-filled", "08:00 to 23:00", "open hours"],
    ["pin-filled", contanctInfo.address, "address"],
];
---

<ul
    class="pdx nmd:text-sm nmd:gap-x-8 nmd:gap-y-3 nmd:py-4 nlg:gap-y-6 nlg:gap-x-8 flex flex-row flex-wrap gap-x-4 gap-y-2 bg-primary-900 py-4 font-main text-xs text-primary-300"
>
    {
        items.map((item) => {
            return (
                <li class="flex flex-row items-center gap-3">
                    <Icon name={item[0]} class="scale-125 text-primary-300" />
                    <p>{item[1]}</p>
                </li>
            );
        })
    }
</ul>
