@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
    .btn-primary {
        --border-padding-x: 10px;
        --border-padding-y: 7px;
        position: relative;
        display: inline-block;
        padding: 10px 13px;
        font-family: theme("fontFamily.main");
        font-size: theme("fontSize.xs");
        background-color: theme("backgroundColor.secondary.200");
        outline: none;
    }

    .btn-primary::before {
        content: "";
        position: absolute;
        left: var(--border-padding-x);
        right: var(--border-padding-x);
        top: var(--border-padding-y);
        bottom: var(--border-padding-y);
        outline-style: solid;
        outline-width: 3px;
        opacity: 0;
        outline-color: theme("colors.primary.950");
        @apply transition-opacity;
    }

    .btn-primary:hover::before,
    .btn-primary:focus::before {
        opacity: 1;
    }

    .btn-primary-md {
        --border-padding-x: 10px;
        --border-padding-y: 10px;
        outline-width: 4px;
        padding: 12px 14px;
        font-size: theme("fontSize.sm");
    }

    .btn-primary-lg {
        --border-padding-x: 10px;
        --border-padding-y: 12px;
        outline-width: 4px;
        padding: 14px 13px;
        font-size: theme("fontSize.base");
    }

    .btn-secondary {
        @apply btn-secondary-sm relative isolate inline-block overflow-hidden border-2 border-solid border-secondary-200 bg-transparent font-main font-medium text-secondary-200 transition-colors duration-200 ease-in before:absolute before:inset-0 before:-z-10 before:-translate-x-full before:bg-secondary-200 before:transition-transform before:duration-200 before:ease-in hover:text-primary-950 hover:before:translate-x-0;
    }
    .btn-secondary-lg {
        @apply px-3 py-3 text-lg;
    }
    .btn-secondary-md {
        @apply px-3 py-3 text-sm;
    }
    .btn-secondary-sm {
        @apply px-3 py-2 text-xs;
    }
}

.react-aria-CalendarGridBody td {
    padding: 0;
}

/* Idk why but when moon-loader is inside of a button tag, the left: position of its children are set to 39px */
/* will investigate further when I have the time. for now this should handle it */
.moon-loader span {
    left: 0;
}
