@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
    .btn-primary {
        --border-padding-x: 10px;
        --border-padding-y: 7px;
        --outline-width: 3px;
        position: relative;
        display: inline-block;
        padding: 10px 13px;
        font-family: theme("fontFamily.main");
        font-size: theme("fontSize.xs");
        background-color: theme("backgroundColor.secondary.200");
        outline: none;
    }

    .btn-primary:active {
        background-color: theme("backgroundColor.secondary.300");
    }

    .btn-primary::before {
        content: "";
        position: absolute;
        left: var(--border-padding-x);
        right: var(--border-padding-x);
        top: var(--border-padding-y);
        bottom: var(--border-padding-y);
        outline-style: solid;
        outline-width: var(--outline-width);
        opacity: 0;
        outline-color: theme("colors.primary.950");
        @apply transition-opacity;
    }

    .btn-primary:hover::before,
    .btn-primary:focus::before {
        opacity: 1;
    }

    .btn-primary-md {
        --border-padding-x: 10px;
        --border-padding-y: 10px;
        --outline-width: 4px;
        padding: 12px 14px;
        font-size: theme("fontSize.sm");
    }

    .btn-primary-lg {
        --border-padding-x: 10px;
        --border-padding-y: 12px;
        --outline-width: 4px;
        padding: 14px 13px;
        font-size: theme("fontSize.base");
    }

    .btn-secondary {
        --padding-x: 10px;
        --padding-y: 10px;
        position: relative;
        display: inline-block;
        isolation: isolate;
        overflow: hidden;
        border: solid 2px;
        border-color: theme("colors.secondary.200");
        background-color: transparent;
        font-family: theme("fontFamily.main");
        font-size: theme("fontSize.xs");
        color: theme("colors.secondary.200");
        padding: var(--padding-y) var(--padding-y);
        @apply transition-colors;
        @apply duration-200;
        @apply ease-in;
        outline: none;
    }

    .btn-secondary:hover,
    .btn-secondary:focus {
        color: theme("colors.primary.950");
    }

    .btn-secondary:active::before {
        background-color: theme("backgroundColor.secondary.300");
    }

    .btn-secondary::before {
        content: "";
        position: absolute;
        inset: 0;
        z-index: -10;
        transform: translateX(-100%);
        background-color: theme("colors.secondary.200");
        @apply transition-transform;
        @apply duration-200;
        @apply ease-in;
    }

    .btn-secondary:hover::before,
    .btn-secondary:focus::before {
        transform: translateX(0);
    }

    .btn-secondary::after {
        content: "";
        position: absolute;
        bottom: 4px;
        height: 3px;
        background-color: theme("colors.primary.950");
        right: var(--padding-x);
        left: var(--padding-x);
        transform: scaleX(0);
        border-radius: 999px;
        transform-origin: left;
        @apply transition-transform;
        @apply duration-200;
        @apply ease-in;
    }

    .btn-secondary:focus::after {
        transform: scaleX(1);
    }

    .btn-secondary-md {
        --padding-x: 12px;
        --padding-y: 12px;
        font-size: theme("fontSize.sm");
    }

    .btn-secondary-lg {
        --padding-x: 14px;
        --padding-y: 14px;
        font-size: theme("fontSize.base");
    }
}

.react-aria-CalendarGridBody td {
    padding: 0;
}

/* Idk why but when moon-loader is inside of a button tag, the left: position of its children are set to 39px */
/* will investigate further when I have the time. for now this should handle it */
.moon-loader span {
    left: 0;
}
